<ion-header>
  <ion-toolbar>
    <ion-title>{{'SWSignWriter Login' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div *ngIf="subscribed">   
    <ion-button (click)="goEdit()">{{'Continue' | translate}}</ion-button>
  </div>
  <div *ngIf="!subscribed">
    <ion-button (click)="goSettings()">{{'Settings' | translate}}</ion-button>
    <br />
    <ion-button (click)="goSubscribe()">{{'Subscribe' | translate}}</ion-button>
    <br />
    <div *ngIf="daysleft > 0">
      <ion-button (click)="goEdit()">{{'Continue using free trial.' | translate}}</ion-button>
    {{ daysleft }} {{'days left.' | translate}} 
    </div>
  </div> -->
  <p>You will be redirected to Auth0 Login, please fill your credentials.</p>

  <!-- <button (click)="auth.login()" *ngIf="!auth.loggedIn">{{'Log In' | translate}}</button> -->
  <button (click)="authService.logout()" *ngIf="authService.isLoggedIn.getValue()">{{'Log Out' | translate}}</button>
  <a routerLink="/">{{'Home' | translate}}Home</a>&nbsp;
  <a routerLink="profile" *ngIf="authService.isLoggedIn.getValue()">{{'Profile' | translate}}</a>
</ion-content>
