<ion-header>
  <ion-toolbar>
    <ion-title><ion-button (click)="copyToClipboard(this)">{{'Copy'| translate}}</ion-button>{{'Right-click or Long Press on image to copy or share'| translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary"   (click)="close()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img [src]="getimage()" [style.height.px]="contentHeight" [style.width.px]="contentWidth" />
</ion-content>

