<ion-header>
  <ion-toolbar color="navy">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{'Subscribe' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-row>
    <ion-col>
      <div>
        <p *ngIf="showTrialButton">You can start a 15 day free trial</p>
        <ion-button color="green" *ngIf="showTrialButton" (click)="StartTrial()">{{'Start Trial' | translate}} </ion-button>     
        <p *ngIf="hasStartedTrial && trialDaysLeft > 0 && !subscriptionService.isSubscribed.getValue()">Your free trial has {{trialDaysLeft}} days left</p>   
      </div>     
      <div *ngIf="!(subscriptionService.subscriptionType === 'Stripe'); else stripeSubscribed">
        <div *ngFor="let p of products" detail="false">
          <p> {{ p.title }}</p>
          <p>{{ p.description }}</p>
          <p>{{ p.price }} {{ p.currency }}</p>
          <ion-button color="green" *ngIf="!p.owned; else owned" (click)="purchase(p)">{{'Subscribe Now' | translate}}
          </ion-button>
          <ng-template #owned>
            <p>You Own This Subscription</p>
            <p>{{'Your subscription is valid until and will renew on' | translate}} {{p.expiryDate}} </p>
          </ng-template>
          <hr />
        </div>
      </div>
      <ng-template #stripeSubscribed>
        <p>Yoou own a Stripe Subscription</p>
      </ng-template>
     
    </ion-col>
  </ion-row>
  <ion-button color="green" *ngIf="!(subscriptionService.subscriptionType === 'Stripe')" expand="full" (click)="restore()">Refresh</ion-button>'
</ion-content> 