<ion-header>
  <ion-toolbar color="navy">
    <div class="title"><ion-button size="small" (click)="copyToClipboard(this)">{{'Copy To Clipboard'| translate}}</ion-button><span>{{' or Right-click on image to save'| translate}}</span> </div>
    <ion-buttons slot="end">
      <ion-button color="primary"   (click)="close()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img [src]="getimage()" [style.height.px]="contentHeight" [style.width.px]="contentWidth" />
</ion-content>