<ion-header>
  <ion-toolbar color="navy">
    <ion-title>{{'Share SignWriting'| translate}}</ion-title>
    <ion-buttons slot="end">         
      <ion-button color="orange" (click)="close()">
        <ion-icon name="close-circle" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="getimage()" [style.height.px]="contentHeight" [style.width.px]="contentWidth" />
  <ion-fab slot="fixed">
    <ion-fab-button color="green" (click)="socialShare()"><ion-icon name="share-social" size="large" ></ion-icon></ion-fab-button>
  </ion-fab>  
</ion-content>