<ion-content>
  <div class="main-div">
    <ion-icon (click)="cancel()" class="close-button" name="close-outline"></ion-icon>  
    <h3>Hi! Please fill out this form</h3>
    <h4> We use this data only for analytic purposes.</h4>
    <ion-item>
      <ion-label position="stacked">Enter Your First Name and Last Name</ion-label>
      <ion-input required [(ngModel)]="userName" placeholder="First Name and Last Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Enter Your Email</ion-label>
      <ion-input required name="email" pattern="[a-z0-9A-Z._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" [(ngModel)]="email" email="true" #emailRef="ngModel" placeholder="Email" required></ion-input>     
    </ion-item>
    <div class="email-error-messsage" *ngIf="emailRef.errors">Email address is not valid.</div>
    <ion-button [disabled]="(emailRef.errors || !email) || !userName " type="submit" class="save-button" (click)="saveUserData()">Save</ion-button>
  </div>  
</ion-content>
