<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Choose Sign' | translate }}</ion-title>
    <ion-item>
      <ion-textarea #searchRef placeholder="{{'Enter word to search here' | translate}}" ></ion-textarea>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-radio-group>
    <ion-item *ngFor="let item of elements">
      <div class="sign">
        <span [innerHTML]="item.sign | safeHtml"></span>
        <ion-label>{{ item.gloss }}</ion-label>
      </div>
      <ion-label> </ion-label>
      <ion-radio [value]="item.key" (click)="radioChecked(item.key)" slot="start"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-button (click)="accept()" color="primary">{{ 'Accept' | translate }}</ion-button>
        </ion-col>
        <ion-col> </ion-col>
        <ion-col>
          <ion-button (click)="cancel()" color="secondary">{{ 'Cancel' | translate }}</ion-button>
        </ion-col>
        <ion-col> </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>