<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'Document' | translate}}
    </ion-title> 
    <ion-item>
      <ion-grid>
        <ion-row justify-content-center >
          <ion-label>{{'Image height' | translate}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-range min="50" max="900" step="10" [(ngModel)]="imageheight" pin="true"
            (ionChange)="heightChange($event)">
            <ion-icon size="small" slot="start" name="resize"></ion-icon>
            <ion-icon slot="end" name="resize"></ion-icon>
          </ion-range>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- <ion-buttons slot="end">

      <ion-button *ngIf="isCordova()" color="primary" fill="solid" (click)="share()">
         {{'Share' | translate}}<ion-icon name="share"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!isCordova()" color="primary" fill="solid" (click)="copy()">
        <ion-icon name="copy"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="document" class="document">
    <div class="signtext" [style.height.px]="signtextHeight">
      <span [innerHTML]="document | safeHtml"></span>
    </div>
  </div>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="edit()" name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

  <div>
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
      <ion-label>Edit</ion-label>
      <ion-fab-button>
          <ion-icon (click)="edit()" name="arrow-dropright-circle" style="zoom:2.0;"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</div>
  -->
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
       <ion-label>Share</ion-label>
      <ion-fab-button (click)="share()" *ngIf="isCordova()">
          <ion-icon  name="arrow-dropright-circle" style="zoom:2.0;"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="copy()" *ngIf="!isCordova()" >
          <ion-icon  name="share" style="zoom:2.0;"></ion-icon>
      </ion-fab-button>
  </ion-fab>
 

  <canvas id='canvas'></canvas>
  <span class="preloadFonts" [innerHTML]="preloadFonts | safeHtml"></span>
</ion-content>