<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Document
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isCordova()" color="primary" fill="solid" (click)="share()">
        Share
      </ion-button>
      <ion-button *ngIf="!isCordova()" color="primary" fill="solid" (click)="copy()"> 
        Copy
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="document" class="document">
    <div class="signtext" style="background-color: white;">
      <span [innerHTML]="document | safeHtml"></span>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="edit()"name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <canvas id='canvas'></canvas>
</ion-content>