<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{'Subscribe' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row *ngIf="buttonDisabled">
    <ion-col>
      Your subscription will renew on {{subscriptionEndDate}}
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col>
      <p>1 Month FREE</p>
      <p>+ $5/month for 11 months</p>
      <ion-button [disabled]="buttonDisabled" (click)="SubscribeYearly()"> Subscribe Yearly</ion-button>
    <hr/>
     
      <p>$5/month</p>
      <ion-button  [disabled]="buttonDisabled" (click)="SubscribeMonthly()">Subscribe Monthly</ion-button>
    </ion-col>
    
  </ion-row>
</ion-content>
