


<!-- <ion-content>
  <ion-row *ngIf="subscriptionEndDate">
    <ion-col *ngIf="autoRenewal; else validuntil">
      {{'Your subscription is valid until and will renew on' | translate}} {{subscriptionEndDate}} <ion-button
        (click)="CancelRenewal()"> {{'Cancel Automatic Renewal' | translate}}</ion-button>
    </ion-col>
    <ng-template #validuntil>
      <ion-col>
        {{'Your subscription is valid until' | translate}} {{subscriptionEndDate}}
      </ion-col>
    </ng-template>

  </ion-row>
  <ion-row *ngIf="!subscriptionEndDate">
    <ion-col style="padding-top: 5%; color: red;">
      {{'Your free trial or subscription has ended' | translate}}
    </ion-col>

  </ion-row> -->

<!-- <ion-row>
    <ion-col>
      <p *ngIf="!subscriptionEndDate">1 {{'Month FREE' | translate}}</p>
      <p>+ {{'$5/month for 11 months' | translate}}</p>
      <ion-button [disabled]="buttonDisabled" (click)="SubscribeYearly()">{{'Subscribe Yearly' | translate}}
      </ion-button>
      <hr />

      <p> {{'$5/month' | translate}}</p>
      <ion-button [disabled]="buttonDisabled" (click)="SubscribeMonthly()">{{'Subscribe Monthly' | translate}}
      </ion-button>
    </ion-col>

  </ion-row> -->
<!-- <ion-row>
      <ion-col>
        <ion-button (click)="cancelSubscription()">{{'Cancel Subscription' | translate}}</ion-button>
      </ion-col>    
  </ion-row> -->
<!-- </ion-content> -->

<ion-header>  
  <ion-toolbar color="navy">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{'Subscribe' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>      
      <p *ngIf="showTrialButton">You can start a 15 day free trial</p>
        <ion-button *ngIf="showTrialButton" (click)="StartTrial()">{{'Start Trial' | translate}} </ion-button>     
        <p *ngIf="hasStartedTrial && trialDaysLeft > 0 && !subscriptionService.isSubscribed.getValue()">Your free trial has {{trialDaysLeft}} days left</p>   
    </ion-col>    
  </ion-row>     
  <div *ngIf="!(subscriptionService.subscriptionType.getValue() === 'Android'); else androidSubscribed">
    <ion-row *ngIf="subscriptionEndDate">
      <ion-col *ngIf="autoRenewal; else validuntil">
        {{'Your subscription is valid until and will renew on' | translate}} {{subscriptionEndDate}}. Cancelling your subscription will have an effect inmediately.  <ion-button (click)="CancelRenewal()">  {{'Cancel Automatic Renewal' | translate}}</ion-button>
      </ion-col>
      <ng-template #validuntil>
        <ion-col>
          {{'Your subscription is valid until' | translate}} {{subscriptionEndDate}}
        </ion-col>
      </ng-template>
      
    </ion-row>
    <ion-row>
      <ion-col>
        <p>1 {{'Month FREE' | translate}}</p>
        <p>+ {{'$5/month for 11 months' | translate}}</p>
        <ion-button [disabled]="buttonDisabled" (click)="SubscribeYearly()">{{'Subscribe Yearly' | translate}}</ion-button>
      <hr/>
        
        <p> {{'$5/month' | translate}}</p>
        <ion-button  [disabled]="buttonDisabled" (click)="SubscribeMonthly()">{{'Subscribe Monthly' | translate}}</ion-button>
      </ion-col>
      
    </ion-row>
  </div>
  <ng-template #androidSubscribed>
    <ion-col>
      <p>You own a Google Play subscription</p>
    </ion-col>
  </ng-template>
</ion-content>

