<ion-header>
  <ion-toolbar>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Textarea in an item with a placeholder -->
  <ion-item>
    <button (click)="readwrite($event)" type="button">Button</button>
  </ion-item>
  <ion-item>
    <input
      type="file"
      accept="text/plain"
      multiple
      (change)="openFile($event)"
    />
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="Enter words to search here..."></ion-textarea>
  </ion-item>
  <!-- List of Input Items -->
  <ion-list>
    <ion-radio-group>
      <ion-item *ngFor="let item of elements">
        <span style="padding:10px;" [innerHTML]="item"></span>
        <ion-label>Radio</ion-label>
        <ion-radio slot="start"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
