<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
    <ion-item>
      <ion-textarea
        #searchRef
        placeholder="Enter words to search here..."
      ></ion-textarea>
      <ion-button (click)="resetEntries()">Reset</ion-button>
    </ion-item>
  
</ion-header>

<ion-content padding>
  <!-- List of Items -->
  <ion-list>
    <ion-item *ngFor="let found of editedDocument.editedsigns; index as i; trackBy: trackFound ">
      <button class="editbutton" (click)="replace(i)" type="button">
        <div class="sign">
          <span [innerHTML]="found.svg | safeHtml"></span>
        </div>
        <ion-label>{{ found.text }} </ion-label>
      </button>
    </ion-item> 
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="accept()"name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
