// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

   button[ion-fab] {
        overflow: visible;
        position: relative;

        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;

            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
        contain: layout;
    }

    // center title in toolbar
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: -1;
        font-size: 25px;
    }
    
    // for setting popover to scroll
    ion-select-popover {
        overflow: auto !important;
    }

/* For User form Modal, only works on global */
.small-modal {

    .modal-wrapper {
        border-radius: 10px;       
    }
    
    @media only screen and (max-width: 767px) {        
        margin: auto 36px;      
        height: 375px; 
        border-radius: 10px;  

        .modal-wrapper {
            border-radius: 0px;       
        }
    }       
  }

