<ion-header>
  <ion-toolbar>
    <ion-title>Share iOS</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary"   (click)="close()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <img [src]="getimage()" [style.height.px]="contentHeight" [style.width.px]="contentWidth" />
  <hr>
  <img [src]="getRemoteImage()" [style.height.px]="contentHeight" [style.width.px]="contentWidth" />
  <hr> -->
  <a target="_blank" [href]="getimage()">New Image 1</a>
  <hr>
  <a target="_blank" [href]="getRemoteImage()">New Image 2</a>
</ion-content>