<ion-header>
  <ion-toolbar color="navy">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{'Home' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="mb-30">
    <h1 class="home-title">Welcome!</h1>
  </div>  
  <div class="mb-25" *ngIf="!loggedin">
    <h4>Before using SignWriter, please login</h4>
    <ion-button color="green" (click)="goLogin()">{{'Lets Login' | translate}}</ion-button>
  </div>
  <div class="mb-25" *ngIf="isSubscribedTrial && loggedin">
    <h4>Hit this button to start signwriting</h4>
    <ion-button color="green" (click)="goContinue()">{{'Lets start' | translate}}</ion-button>
  </div>
  <div class="mb-25" *ngIf="!isSubscribedTrial && loggedin">
    <h4>Looks like you dont have an active subscription</h4>
    <ion-button color="green" (click)="goSubscribe()">{{'Show Me Plans' | translate}}</ion-button>
  </div> 
  <div class="mb-25">
    <h4>Get to know a bit about us</h4>
    <ion-button color="green" (click)="goAbout()">{{'What\'s all this about?' | translate}}</ion-button>
  </div>
</ion-content>
