.home-title {
    font-family: LobsterTwo;
    font-weight: bold;
    font-size: 3em;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-25{
    margin-bottom: 25px;
}

ion-backdrop {
    opacity: 0.3;
    bottom: -100px;
}
