<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{'Welcome' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isSubscribedTrial && loggedin">
    <ion-button (click)="goContinue()">{{'Continue' | translate}}</ion-button>
  </div>
  <div *ngIf="!isSubscribedTrial">
    <ion-button (click)="goSubscribe()">{{'Subscribe' | translate}}</ion-button>
  </div>
  <div *ngIf="!loggedin">
        <ion-button (click)="goLogin()">{{'Login' | translate}}</ion-button>
  </div>
  <div>
    <ion-button (click)="goAbout()">{{'About' | translate}}</ion-button>
  </div>
</ion-content>
