<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Settings' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="padding">
  <ion-item>
    <ion-label>{{'UI Language' | translate}}</ion-label>
    <ion-select
      (ionChange)="onLanguageChange($event)"
      [(ngModel)]="UILanguage"
      interface="popover"
    >
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">español</ion-select-option>
      <ion-select-option value="pt">português</ion-select-option>
    </ion-select>
  </ion-item>
  <hr class="hr-margin-bottom hr-black" />
  <ion-item>
    <ion-label>{{'Install Signs from SignLanguage Puddle' | translate}}</ion-label>
    <ion-select
      (ionChange)="onPuddleChange($event)"
      [(ngModel)]="puddleID"
      interface="popover"
    >
      <ion-select-option value="106">Afghanistan</ion-select-option>
      <ion-select-option value="82">Albania</ion-select-option>
      <ion-select-option value="41">Argentina</ion-select-option>
      <ion-select-option value="4"
        >ASL - USA & Canada</ion-select-option
      >
      <ion-select-option value="29">AT</ion-select-option>
      <ion-select-option value="42">Australia</ion-select-option>
      <ion-select-option value="43"
        >French Belgium</ion-select-option
      >
      <ion-select-option value="44"
        >Flanders, Belgium</ion-select-option
      >
      <ion-select-option value="134">Bulgaria</ion-select-option>
      <ion-select-option value="45">Bolivia</ion-select-option>
      <ion-select-option value="46"
        >LIBRAS - Brazil</ion-select-option
      >
      <ion-select-option value="47">Quebec</ion-select-option>
      <ion-select-option value="48"
        >German Switzerland</ion-select-option
      >
      <ion-select-option value="49"
        >French-Switzerland</ion-select-option
      >
      <ion-select-option value="50">CH-it</ion-select-option>
      <ion-select-option value="135">Chile</ion-select-option>
      <ion-select-option value="83">China</ion-select-option>
      <ion-select-option value="51">Colombia</ion-select-option>
      <ion-select-option value="52"
        >Czech Republic</ion-select-option
      >
      <ion-select-option value="53"
        >Deutschland, Germany</ion-select-option
      >
      <ion-select-option value="30">Denmark</ion-select-option>
      <ion-select-option value="136">Ecuador</ion-select-option>
      <ion-select-option value="109">Estonia</ion-select-option>
      <ion-select-option value="84">Egypt</ion-select-option>
      <ion-select-option value="54">Vortaro</ion-select-option>
      <ion-select-option value="55">España, Spain</ion-select-option>
      <ion-select-option value="56"
        >Catalonia, Barcelona</ion-select-option
      >
      <ion-select-option value="18">Ethiopia</ion-select-option>
      <ion-select-option value="57">Finland</ion-select-option>
      <ion-select-option value="58">France</ion-select-option>
      <ion-select-option value="59">Great Britain</ion-select-option>
      <ion-select-option value="60"
        >Northern Ireland</ion-select-option
      >
      <ion-select-option value="61">Greece</ion-select-option>
      <ion-select-option value="112">Guatemala</ion-select-option>
      <ion-select-option value="16"
        >LESHO - Honduras</ion-select-option
      >
      <ion-select-option value="113">Haiti</ion-select-option>
      <ion-select-option value="122">Hungary</ion-select-option>
      <ion-select-option value="62">Ireland</ion-select-option>
      <ion-select-option value="110">Israel</ion-select-option>
      <ion-select-option value="2">India</ion-select-option>
      <ion-select-option value="131">IS</ion-select-option>
      <ion-select-option value="63">IT</ion-select-option>
      <ion-select-option value="86">Jordan</ion-select-option>
      <ion-select-option value="64">Japan</ion-select-option>
      <ion-select-option value="79">Kenya</ion-select-option>
      <ion-select-option value="78">Korea</ion-select-option>
      <ion-select-option value="107">Lithuania</ion-select-option>
      <ion-select-option value="108">Latvia</ion-select-option>
      <ion-select-option value="2">Myanmar</ion-select-option>
      <ion-select-option value="31">Malta</ion-select-option>
      <ion-select-option value="128">Malawi</ion-select-option>
      <ion-select-option value="65">Malawi Mexico</ion-select-option>
      <ion-select-option value="66">Malaysia</ion-select-option>
      <ion-select-option value="32">Nigeria</ion-select-option>
      <ion-select-option value="67">Nicaragua</ion-select-option>
      <ion-select-option value="68">NL</ion-select-option>
      <ion-select-option value="69">Norge, Norway</ion-select-option>
      <ion-select-option value="133">Nepal</ion-select-option>
      <ion-select-option value="70">New Zealand</ion-select-option>
      <ion-select-option value="71">Diccionario Peru</ion-select-option>
      <ion-select-option value="72">Philippines</ion-select-option>
      <ion-select-option value="87">Pakistan</ion-select-option>
      <ion-select-option value="19">Poland</ion-select-option>
      <ion-select-option value="33">Portugal</ion-select-option>
      <ion-select-option value="129">Paraguay</ion-select-option>
      <ion-select-option value="132">Romania</ion-select-option>
      <ion-select-option value="88">Russia</ion-select-option>
      <ion-select-option value="40"
        >Kingdom Saudi Arabia</ion-select-option
      >
      <ion-select-option value="73">Sverige</ion-select-option>
      <ion-select-option value="74">Slovenia</ion-select-option>
      <ion-select-option value="89">Slovakia</ion-select-option>
      <ion-select-option value="137">El Salvador</ion-select-option>
      <ion-select-option value="34">Thailand</ion-select-option>
      <ion-select-option value="104">Tunisia</ion-select-option>
      <ion-select-option value="90">Turkey</ion-select-option>
      <ion-select-option value="75">Taiwan</ion-select-option>
      <ion-select-option value="143">Uruguay</ion-select-option>
      <ion-select-option value="76">Venezuela</ion-select-option>
      <ion-select-option value="153">Vietnam</ion-select-option>
      <ion-select-option value="35"
        >{{'Signs Used Worldwide' | translate}}</ion-select-option
      >
      <ion-select-option value="77">South Africa</ion-select-option>
    </ion-select>
  </ion-item>
  <hr class="hr-margin-bottom hr-black" />

  <ion-list>

    <ion-list-header  spmldropExpanded (click)="expandItem()" >
      <ion-label>{{'Install with SPML File' | translate}}</ion-label>
    </ion-list-header>

    <ion-item [class.collapsed]="!spmldropExpanded" height="200px;">

      <div class="center">
        <file-drop
          dropZoneLabel="{{'Drop SPML file here to add signs' | translate}}"
          (onFileDrop)="dropped($event)"
          (onFileOver)="fileOver($event)"
          (onFileLeave)="fileLeave($event)"
        ></file-drop>
        <input (change)="upload($event)" type="file" />
        <!-- <input #uploader="ngModel" [(ngModel)]="uploaderInput" (change)="upload($event)" type="file"/> -->
        <!-- <ion-button (click)="uploader.click()">
                                                                {{'Choose SPML file' | translate}}
                                                            </ion-button> -->
       
      </div>

    </ion-item>
    <hr class="hr-margin-bottom hr-black" />
  
  </ion-list>

  <ion-item>
   
    <div>
    <ion-button (click)="clearSigns()">
      {{'Clear All Signs' | translate}}
    </ion-button>
  </div>
  </ion-item>
  
  <hr class="hr-margin-bottom hr-black" />
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-label>{{'Next' | translate}}</ion-label>
    <ion-fab-button>
      <ion-icon
        (click)="next()"
        name="arrow-dropright-circle"
        style="zoom:2.0;"
      ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
