<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{'Settings' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding="padding">
    <div class="center">
        <file-drop dropZoneLabel="{{'Drop SPML file here to add signs' | translate}}" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"></file-drop>
        <input #uploader="ngModel" [(ngModel)]="uploaderInput" (change)="upload($event)" type="file"/>
        <!-- <ion-button (click)="uploader.click()">
            {{'Choose SPML file' | translate}}
        </ion-button> -->
        <hr>
            <ion-button (click)="clearSigns()">
                {{'Clear Signs' | translate}}
            </ion-button>
        </div>
        <ion-item>
            <ion-label>{{'UI Language' | translate}}</ion-label>
            <ion-select (ionChange)="onLanguageChange($event)" [(ngModel)]="UILanguage" interface="popover">
                <ion-select-option value="en">English</ion-select-option>
                <ion-select-option value="es">español</ion-select-option>
                <ion-select-option value="pt">português</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-fab horizontal="end" slot="fixed" vertical="bottom">
            <ion-label>{{'Next' | translate}}</ion-label>
            <ion-fab-button>
                <ion-icon (click)="next()" name="arrow-dropright-circle" style="zoom:2.0;"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-content>
